
body {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    margin: 30px;
    margin-top: 10px;
    background-color: #F9D9E2;
    color: white;
    text-align: center;
  }
  a:hover {
    color: #F4AFC4;
  }
  
  h1, a {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: #2732B8;
    font-weight: bold;
    text-decoration: none;
  }
  
  h2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #F4AFC4;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  footer {
    background-color: #2732B8;
    text-align: center;
    font-size: 15px;
    position: fixed;
    width: 100%;

  }
  .intro {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  }

  #designskills, #webskills, #interests{
    background-color: #2732B8 !important;
    color: #FBDD4B !important;
  }